<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h1 class="mat-h1">
    Welcome to {{ title }}!
  </h1>
</div>

<div class="flexify">
  <div>
    <h6 class="mat-h6">Click the button to get all the customers in 100 Km radius of dublin for invitation.</h6>
    <button mat-stroked-button color="primary" [disabled]="filteration_disabled" (click)="filterCustomers()">Get
      Customers
      For Invitation</button>
  </div>
  <app-customer-count [count]="total"></app-customer-count>
  <div>
    <h6 class="mat-h6">Invite customers for food and drinks.</h6>
    <button mat-stroked-button color="primary" [disabled]="invitation_disabled" (click)="sendInvite()">Invite
      Customers</button>
  </div>
</div>

<app-customer-list [customers]="customers"></app-customer-list>