.table-body{
  width: 60%;
  margin: 0 auto;
  padding: 2%;
  table, mat-paginator {
    width: 100%;
  }
}

.mat-header-cell {
  color: white;
  background: darkblue;
  font-weight: 500;
  font-size: 18px;
}

.flexify  {
  padding: 30px 180px 30px 180px;
  display: flex;
  justify-content: space-around;

  & .mat-fab{
    margin-right: 60px;
  }
}



